app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml
gradle.properties
.gradle
app/local.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
*.ipr
*.iws
.idea/gradle.xml
app/app.iml
app/crashlytics.properties


gradle/

# Library
image-picker-library/gradle.properties
image-picker-library/build
image-picker-library/image-picker-lite-library.iml
image-picker-library/image-picker-lite-sample.iml

.idea
.idea/workspace.xml

image-picker-lite-library.iml
image-picker-lite-sample.iml
